
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
  }
  .ui {
    margin: 5% 20%;
    height: 480px;
    filter: blur(8px);
  }
  .ui-new-list {
    margin: 5% 20%;
   
    height: 480px;
    
  }
  .head-container {
    
    height: 100px;
  }
  .title {
    display:inline-block;
   

  }
  .left-title {
    float: left;
    margin-top: -40px;
    margin-left: 20px;
    font-size: 60px;
    color: rgb(105, 96, 96);
  }
  .right-title {
    margin-top: 45px;
    margin-right: 20px;
    float: right;
    color: rgb(105, 104, 104);
  }
  .add {
    display: inline-block;
  }
  
  .circle {
    border-radius: 50%;
    background-color: rgb(243, 19, 19);
    border: none;
    width: 40px;
    height: 40px;
  }
  .vertical {
    border-left: 2px solid white;
    border-radius: 10px;
    position: relative;
    height: 20px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    left: 19px;
    bottom: 30px;
  }
  .horizontal {
    border-bottom: 2px solid white;
    border-radius: 10px;
    position: relative;
    width: 20px;
    padding: 0px;
    margin: 0px;
    left: 10px;
    bottom: 41px;
  }
  .add-text {
    margin-left: 13px;
    position: relative;
    top: -30px;
    font-size: 32px;
    font-weight: 100;
    color: rgb(110, 106, 106);
  }
  .box-container {
    position: relative;
    top: -60px;
    left: -250px;
    /* border: 1px solid black; */
    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .box {
    margin-top: 30px;
    border: 1px solid #f52e27;
    height: 330px;
    width: 220px;
    border-radius: 10px;
    /* display: inline-block; */
    box-shadow: 10px 10px 10px #d6d0d0;
  }
  .task-title {
    font-size: 30px;
    margin-bottom: 15px;
    color: #f52e27;
    font-weight: lighter;
  }
  .line {
    border: none;
    border-top: 1px solid grey;
    margin-left: 30px;
  }
  .task-body {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 23px;
    /* font-weight: 400; */
    color: #f52e27;
    text-decoration-line: line-through;
  }
  .check {
    text-align: left;
    font-size: 23px;
    padding-left: 10px;
  }
  .check-box {
    transform: scale(1.5);
    position: relative;
    top: -1px;
  }
  .add1{
    border: 2px red solid;
    border-radius: 10px;
    width: 380px;
    height: 160px;
    position: relative;
    left: 470px;
    bottom: 350px;
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
    z-index: 1;
}
.new{
    font-family: sans-serif;
    color: red;
    position: absolute;
    top: 25px;
    left: 140px;
}
.boxs{
    border: 2px solid red;
    border-radius:5px;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 60px;
    left: 85px;
}
.class1{
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 110px;
    left: 160px;
}
.class2{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px;
}

@media screen and (min-width: 480px) and (max-width: 1000px)
{
  .ui {
    margin: 0px;
    width: auto;
    /* border: 1px solid black; */
  }
  .head-container {
    /* border: 1px solid black; */
    width: auto;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .left-title {
    /* border: 1px solid black; */

    margin-left: 10px;
    /* display: block; */
  }
  .right-title {
    /* border: 1px solid black; */
    width: auto;
    padding-right: 10px;
    height: 40px;
    margin-right: 0px;
  }
  .add-logo {
    left: 100px;
  }
  .task-body {
    visibility: hidden;
  }
  form {
    visibility: hidden;
  }
  .line {
    visibility: hidden;
  }
  .box-container {
    position: relative;
    left: 0px;
    padding: 20px;
    flex-direction: column;
    /* border: 1px solid black; */
    width: auto;
    height: auto;
  }
  .box {
    text-align: left;
    height: 40px;
    width: auto;
    border-color: gainsboro;
    margin: 20px 0px;
    padding: 20px;
  }
  
  .task-title {
    margin: 0px;
    color: black;
    margin-bottom: 20px;
  }
  .add1{
    position: relative;
    left: 45px;
    bottom: 250px;
}
}
@media screen and (min-width: 300px) and (max-width: 480px)
{
  .ui {
    margin: 0px;
    width: 320px;
    
  }
  .head-container {
   
    width: 350px;
    padding-right: 10px;
  }
  .left-title {
    

    margin-left: 10px;
    
  }
  .right-title {
   
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  .add-text {
    visibility: hidden;
  }
  .task-body {
    visibility: hidden;
  }
  form {
    visibility: hidden;
  }
  .line {
    visibility: hidden;
  }
  .box-container {
    position: relative;
    left: 0px;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 355px;
    height: 560px;
  }
  .box {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 40px;
    width: 290px;
    border-color: gainsboro;
    padding: 20px;
  }
  .task-title {
    margin: 0px;
    color: black;
    margin-bottom: 20px;
  }
  .task-body {
    visibility: hidden;
  }
  form {
    visibility: hidden;
  }
  .line {
    visibility: hidden;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .add1{
    position: relative;
    left: 40px;
    bottom: 250px;
}
 
}
